<section class="container">
  <div class="container-form">
    <h1 routerLink="/home">Acessar conta</h1>
    <form (submit)="validateUser()" >
      <app-input title="Email" image="../../../assets/image/email.png" type="text" placeholder="Email" (text)="setEmail($event)" ></app-input>
      <p *ngIf="form.controls.email.invalid && form.controls.email.value.length > 0" >Preecha com um email valido!</p>
      <app-input title="Senha" image="../../../assets/image/lock.png" type="password" placeholder="Senha" (text)="setPassword($event)"></app-input>
      <p *ngIf="form.controls.password.invalid && form.controls.password.value.length > 0" >A Senha deve conter no mínimo 8 caraceteres sendo eles maiúsculos, minúsculos, caraceteres especiais e números.</p>
      <p *ngIf="!isValid" Style="text-align: center">Email ou senha invalidos.</p>
      <button type="submit">acessar</button>
      <p class="text-action">Ainda não possui conta? <span routerLink="/register">Crie agora!</span></p>
    </form>
  </div>
  <div class="container-illustration">
    <img src="../../../assets/image/illustration.svg" alt="ilustração">
  </div>
</section>
