<div class="container">
  <h2>O que deseja fazer?</h2>
  <div class="container-cards">
    <div class="card" (click)="controlModal('pix')">
      <img src="../../../../assets/image/pix.svg" alt="Pix">
      <h3>Pix</h3>
    </div>
    <div class="card" (click)="controlModal('ted')">
      <img src="../../../../assets/image/transfer.svg" alt="Ted">
      <h3>Ted</h3>
    </div>
    <div class="card" (click)="controlModal('doc')">
      <img src="../../../../assets/image/transfer.svg" alt="Doc">
      <h3>Doc</h3>
    </div>
  </div>
</div>
