.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px;
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  h2{
    margin-top: 10px;
    margin-bottom: 30px;
  }

  &-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .card{
      cursor: pointer;
      position: relative;
      background-color: var(--white);
      width: 160px;
      height: 160px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px solid #BDBDBD;
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
      border-radius: 12px;
      transition: 0.3s;
      &:hover{
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.401);
        scale: 1.02;
      }
      &:active{
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.45);
        scale: 1.02;
      }
      img{
        position: absolute;
        width: 55px;
        top: 45px;
      }
      h3{
        position: absolute;
         bottom: 25px;
      }
    }
  }


}

@media(max-width:768px){
    .container-cards{
      .card{
        width: 100px;
        height: 100px;
        img{
          width: 35px;
          top: 18px;
        }
        h3{
           bottom: 15px;
        }
      }
    }
}

@media(max-width: 400px){
  .container{
    padding: 15px;
  }
  .container-cards{
    .card{
      width: 90px;
      height: 90px;
      img{
        width: 30px;
        top: 18px;
      }
      h3{
         bottom: 15px;
      }
    }
  }
}
